<footer class="footer">
    <div class="footer-content">
        <span class="brand">Coastal Pharmacy CRUD &copy; {{currentYear()}}</span>  
        
        <div class="author-info">
            <span>Developed by Josuerzz</span>
            <a href="http://github.com/Josuerzz" target="_blank" rel="noopener noreferrer" class="github-container">
                <img src="https://github.com/Josuerzz.png" alt="author-photo" class="avatar">
                <fa-icon [icon]="faGithub" class="logo-github"></fa-icon>
            </a>

            <a href="https://co.linkedin.com/in/josue-rodriguez-704bbb248" target="_blank" rel="noopener noreferrer" class="linkedin-container">
                <fa-icon [icon]="faLinkedin" class="logo-linkedin"></fa-icon>
            </a>    
        </div>

        <span class="version">v{{appVersion()}}</span>
    </div>
</footer>